/* Colors */

/*

blue - #3C6AE2 / rgba(60,106,226,1)
red - #D0021B
orange - #F5A623

bluish-gray - #3D464D
medium gray - #4A4A4A
light gray - #9B9B9B
white - #fff

*/


/* Base Styles */

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

body {
	font-size: 16px;
	font-family: 'Lato', Helvetica, sans-serif;
	color: #4A4A4A;
	background-color: #fff;
}

ul,
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

a,
a:visited,
a:hover,
a:focus {
	text-decoration: none;
}

a {
	color: #3C6AE2;
}

a:hover {
	color: #fff;
}

.active {
	color: #fff !important;
	background: #3C6AE2; 
}

input {
	border:none;
}

/* Main Layout Styles */

.wrapper {
	width: 100%;
	position: relative;
	
}

.primary-view {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 200px;
	background: #fff;
	min-height: 100vh;
	min-width: 500px;
	overflow: hidden;
}

.sidebar {
	width: 200px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #3D464D;
	min-height: 100vh;
}

.column {
	display: inline-block;
	width: 31%;
	max-width: 31%;
	overflow: hidden;
	margin-right: 1%;
}

.column-2 {
	width: 61%;
	max-width: 61%;
}

.column label,
.column select {
	display: block;
}

fieldset * {
	display: inline-block;
}


/* Header Styles */

header {
	height: 50px;
	line-height: 3.125;
	background: #3C6AE2;
	padding: 0 15px;
	color: #fff;
	position: absolute;
	right:0;
	top:0;
	width: 100%;
}

header p,
header a,
header form {
	display: inline-block;
	color: #fff;
}

.search,
.avatar,
.icon-help  {
	transition: .2s;
}

.nav-link {
	margin-right: 20px;
}

.nav-link:hover {
	transform: scale(1.1);
}

.nav-burger {
	width: 20px;
	max-height: 20px;
	display: inline-block;
}

.burger-first {
	height: 7px;
	border-top: .5px solid #fff;
	border-bottom: .5px solid #fff;
}

.burger-second {
	height: 7px;
	border-bottom: .5px solid #fff;
}

.search-form {
	margin-top: -5px;
}

.search-form input {
	border: none;
	border-radius: 2px;
	width: 250px;
	height: 30px;
	font-size: 1rem;
	padding: 8px;
	color: #4A4A4A;
	outline: none;
}

.search-form input:hover,
.search-form input:focus {
	box-shadow: inset 0 0 4px #3D67E2}

.utility-links {
	float: right;
	height: 50px;
	line-height: 50px;
	display: inline-block;
}

.utility-links p,
.utility-links a {
	margin-right: 1rem; 	
}

.add-item {
	height: 50px;
	margin-right: 1rem;
	vertical-align: middle;
	transition: .1s;
}

.add-item:hover .icon-add {
	transform: scale(1.1);
}

.add-item::after {
	vertical-align: middle;
	content: '';
	margin-left: 1px;
	width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #F5A623;
  display: inline-block;
}

.icon-add {
	height: 20px;
	width: 20px;
	vertical-align: middle;
	margin-top: -6px;
}

.user-role {
	font-size: .9em;
}

.avatar {
	line-height: 35px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #fff;
	color: #9B9B9B;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
}

.avatar:hover {
	background: #3C6AE2;
	color: #F5A623;
/*	border: 1px solid #fff;*/
	box-shadow: inset 0 0 2px #fff;
}

.help {
	height: 50px;
	line-height: 50px;
	padding: 0 5px;	
	margin-right: 0px !important;
	margin-left: -5px;
}

.help:hover .icon-help{
	transform: scale(1.2);
}

.icon-help {
	height: 18px;
	width: 10px;
	vertical-align: middle;
}


/* Main Content Styles */

.main-content {
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

.main-content svg,
.main-content h2,
.main-content p,
.main-content h3,
.main-content h4,
.main-content a,
.main-content ul,
.main-content li {
	display: inline;
}

.main-content-header {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #979797;
	position: relative;
}

.main-content-header .icon-header {
	position: absolute;
	top: 10px;
	left: 1.25%;
}

.icon-header {
	height: 30px;
	width: 31px;
	fill: none;
	stroke: #4A4A4A;
}

.main-content-header h2 {
	margin-left: 60px;
	font-weight: 400;
	height: 1.2rem;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.main-content-header p {
	font-size: .9rem;
	margin-left: 40px;
}

.settings {
	float: right;
	font-size: .9rem;
	margin-right: 15px;
}

.settings a {
	color: #4A4A4A;
	height: 100%;
	display: inline-block;
}

.settings a:hover {
	color: #9B9B9B;
}

.settings a:hover .icon-settings {
	stroke: #9B9B9B;	
}

.icon-settings {
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 2px;
	margin-top: -2px;
	height: 18px;
	width: 18px;
	stroke:#4A4A4A;
}

.dashboard-widget {
	display: inline-block;
	padding: 10px;
	margin: 1.25%;
	width: 47%;
	max-width: 500px;
	background: #FFF;
	border: 1px solid #eee;
	box-shadow: 0 0 2px 0px rgba(188,187,188,0.55) !important;
	border-radius: 2px;
	min-height: 300px; 
	position: relative;
}

.widget-header {
	height: 40px;
}

.widget-header .icon-content {
	height: 22px;
	width: 22px;
	stroke: #4A4A4A;
	top: 12px;
	left: 10px;
	position: absolute;
}

.widget-header h3 {
	margin-left: 30px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 1px;
}

.widget-content h4 {
	color: #3C6AE2;
	font-weight: 400;
	font-size: .9em;
}

.widget-content hr {
	margin-bottom: 10px;
}

.widget-content td {
	font-size: .8em;
	font-weight: 400;
	color: #4A4A4A;
}

.list {
	width: 100%;
}

td {
	padding: 5px;
}

.list-item {
	-webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.list-item-selected {
	background: #3C6AE2;	
}

.list-item-selected td {
	color: #fff;
}

.list tr {
	cursor: pointer;
}

.list td {
	height: 1.5rem;
}

.third-col {
	text-align: right; 
}


/* Sidebar Styles */

.sidebar-header {
	height: 50px;
	background:#fff;
	position:relative;
	line-height: 50px;
}

.brand {
	font-size: .8em;
	line-height: 1.2;
	top: 50%;
	margin-top: -15px;
	height: 50px;
	padding-left: 45px;
	position: absolute;
	left: 3px;
	width: 200px;
	letter-spacing: 1px;
	font-weight: bold;
}

.brand:hover {
	color: #4A90E2;
}

.sidebar-header::before {
	content: '';
	position: absolute;
	top:0;
	bottom: 0;
	left: 3px;
	height: 50px;
	width: 45px;
	background: url(../assets/logo.png) no-repeat;
	background-size: 40px 40px;
	background-position: center center;
}

.main-nav {
	margin-top: 20px;
}

.main-nav img {
	height: 20px;
	width: 20px;
	margin-top: -3px;
	margin-right: 20px;
}

.nav-item {
	-webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
	position: relative;
}

.nav-item svg:first-of-type {
	margin-right: 20px;
	margin-top: -4px;
	vertical-align: middle;
}

.nav-icon {
	height: 22px;
	width: 22px;
}

.nav-item.selected {
	background: #3C6AE2;
}

.nav-item.selected a {
	color: #fff;
}

.nav-item.selected svg:first-of-type {
	stroke: #fff;
}

svg.selected-arrow {
	height: 15px;
	width: 15px;
	fill: #fff;
	stroke: #fff;
	position: absolute;
	right: 10px;
	top: 17.5px;
}

.nav-item.active {
	background: #3C6AE2 ;
}

.nav-item.active a {
	color: #fff;
}

.nav-item.active svg {
	stroke: #fff;
	display: inline;
}

.nav-item a {
	display: inline-block;
	height: 50px;
	width: 200px;
	color: #9B9B9B;
	line-height: 50px;
	padding-left: 20px;
}

.sidebar-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	color: #9B9B9B;
	letter-spacing: 1px;
	font-weight: bold;
}

.main-website {
	font-size: .8em;
}

.main-website a {
	color: #fff;
}

.main-website a:hover {
	color: #3C6AE2;
}

.copyright {
	font-size: .7em;
}



/* Login page */

.wrapper-login {
	display: block;
	min-height: 800px;
	height: 100vh;
	background-image: url(../assets/login-background.jpg);
	background-size: cover;
	background-position: center center;
	color: #fff;
	position: relative;
}

.login-content {
	height: 600px;
	width: 500px;
	margin: 0 auto;
	padding-top: 200px;
	text-align: center;
}

.login-content h1 {
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.2;
	text-align: left;
	font-size: 1.6em;
	padding-left: 170px;
	width: 450px;
	margin-bottom: 30px;
	position: relative
}

.login-content h1::before {
	content: '';
	display: inline-block;
	height: 90px;
	width: 90px;
	background: url(../assets/uclalogo-login.png) no-repeat;
	position: absolute;
	left: 50px;
	bottom: -17px;
}

.login-form {
	display: block;
	width: 500px;
	height: 350px;
	background: transparent;
	border: 2px solid #fff;
	padding: 40px 0;
	margin: 0 auto;
}

.login-form h2 {
	line-height: 1;
	margin-bottom: 5px;
	letter-spacing: 2px;
}

.login-form p {
	font-weight: 400;
	font-size: .9em;
}

.login-form fieldset input {
	width: 350px;
	height: 40px;
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(255,255,255,.5);
	color: #4A4A4A;
	font-weight: 700;
	margin-bottom: 3px;
	box-shadow: 0 0 2px 0 #9B9B9B;
}

.login-form fieldset input:focus {
	background-color: rgba(255,255,255,.8);
}

.login-form input::-webkit-input-placeholder { color:#fff; }
.login-form input::-moz-placeholder { color:#fff; } /* firefox 19+ */
.login-form input:-ms-input-placeholder { color:#fff; } /* ie */
.login-form input:-moz-placeholder { color:#fff; }

.login-form a {
	font-size: .8em;
	display: block;
	text-decoration: none;
	color: #fff;
	text-align: right;
	margin-right: 75px;
	margin-bottom: 20px;
}

.submit-login {
	border-radius: 5px;
	padding: 10px;
	height: 45px;
	background-color:#3C6AE2; 
	border:none;
	width: 190px;
	font-size: 1.1em;
}

.submit-login:hover {
	background-color:rgba(60,106,226,.9); 
	box-shadow: 0 0 2px 0 #fff;
}

/* Calificaciones */

.inner-main-header {
	height: 70px;
	line-height: 70px;
	position: relative;
	border-bottom: 2px solid #3C6AE2;
}

.inner-main-header div {
	display: inline-block;
}

.inner-main-header svg {
	height: 30px;
	width: 31px;
	fill: none;
	stroke: #4A4A4A;
	position: absolute;
	top: 20px;
	left: 15px;
}

.inner-main-header h2 {
	margin-left: 60px;
	font-weight: 400;
	height: 1.2rem;
	font-size: 1.2rem;
	letter-spacing: 1px;
}

.calif-subnav {
	height: 35px;
	position: absolute;
	bottom: 0;
	left: 30%;
	line-height: 35px;
}

.calif-subnav sup {
	text-transform: uppercase;
	margin-right: 5px;
	font-size: .6em;
	font-weight: normal;
}

.calif-subnav a {
	display: inline-block;
	font-weight: 400;
	font-size: .9em;
	color: #4A4A4A;
	padding: 0 20px;
}

.calif-subnav a:hover {
	color: #fff;
	background: #3C6AE2; 
}

.header-button-right {
	float: right;
	margin-right: 20px;
	height: 100%;
}

.add-grades-btn {
	height: 100%;
	font-size: .9em;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 20px;
	background: #F5A623;
	color: #fff;
	border-radius: 2px;
	height: 35px;
	line-height: 35px;
	margin-top: 17.5px;
}

/* pop-up form for adding grades */

.modal-popup {
	display: none;
	position: absolute; 
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,.6);
	min-height: 100vh;
	height: 100vh;
	max-width: 100vw;
	width: 100vw;
	overflow: scroll;
}

.form-container {
	display: block;
	position: absolute;
	top: 100px;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	background: #fff;
}

.form-header {
	background: #3C6AE2;
	font-size: 1.1em;
	font-weight: 400;
	color: #fff;
	text-align: center;
	height: 55px;
	line-height: 55px;
	letter-spacing: 1px;
	position: relative;
}

.remove-x {
	fill: rgba(255,255,255,.7);
	height: 20px;
	width: 20px;
	position: absolute;
	right: 15px;
	top: 20px;
	cursor: pointer;
}

.remove-x:hover {
	fill: rgba(255,255,255,1);
}

#add-grades-popup form {
	padding: 20px;
}

#add-grades-popup form label {
	font-size: 1.1em;
	font-weight: 400;
	color: #3D464D;
}

select {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 4px;
	color: #9B9B9B;
	background: #fff;
	border: 1px solid #9B9B9B;
	border-radius: 1px;
	height: 30px;
	line-height: 30px;
	font-size: .9em;
}

option {
	color: #3D464D;
}

input[type="radio"] {
	margin-left: .1rem;
	cursor: pointer;
}

.radio-label {
	margin-left: .3rem;
	margin-right: .6rem;
	margin-bottom: 2rem;
}

form hr {
	border: 0;
	display: block;
	width: 96%;               
	background-color: rgba(151,151,151,.6);
	height: 1px;
	margin-bottom: 2rem;
}

.form-row1 {
	margin-bottom: 1rem;
}

.student-grade-listing {
	position: relative;
	margin-bottom: 1rem;
}

.student-grades-header {
	margin-bottom: .5rem;
}

.student-grade-row {
	width: 100%;
	position: relative;
	margin-bottom: 1rem;
}

.student-grade-listing th,
.student-grade-listing td {
	padding: 0;
	margin-right: 20px;
}

.student-grade-listing select {
	display: block;
}

.student-grade-listing th:first-of-type,
.alumno-select  {
	width: 325px;
}

.student-grade-listing th:nth-of-type(2),
#alumno tr:nth-of-type(2) td:nth-of-type(2) {
	margin-left: -3px;
}

.student-grade-listing input[type="text"] {
	font-size: .9em;
	padding-left: 8px;
	padding-right: 8px;
}

.new-grade-field {
	width: 100%;
	height: 30px;
	border: 1px solid #9B9B9B;
	border-radius: 4px;
	padding: 5px;
}

.new-grade-container {
	position: relative;
	display: inline-block;
	overflow: visible;
}

.remove-row {
	display: none;
	position: absolute;
	top: 6px;
	right: 3px;
	background: #D0021B;
	border-radius: 50%;
	height: 17px;
	width: 17px;
	line-height: 14px;
	background-size: 15px 15px;
	background-position: center center;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.student-grade-row:hover .remove-row {
	display: block;
}

form button {
	border-radius: 3px;
	color: #fff;
	font-weight: 400;
}

.new-student-button {
	padding: 4px 14px 4px 12px;
	background: #3C6AE2;
	margin-bottom: 3rem;
}

.new-student-button:hover {
	background: rgba(60,106,226,.7);
}

.submit-form {
	background: #F5A623;
	width: 200px;
	padding: 10px auto;
	height: 40px;
	font-size: 1em;
	font-weight: 700;
	display: block;
	margin: 0 auto;
}

.submit-form:hover {
	background:rgba(245,166,35,.7)
}


/* por-clase */

.calif-main-content {
	position: relative;
	height: 100%;
	background: #eee;
}

.column-calif-carrera,
.column-calif-clases,
.column-calif-grades {
	background: #fff;
}

.calif-main-content tr {
	width: 100%;
	overflow: hidden;
}

.calif-main-content .list-item td { 
	font-size: .9em;
	height: 1.5em;
	padding: 7px 10px 7px 15px;
}

.calif-main-content th { 
	font-size: 1em;
	padding: 15px;
}

.calif-main-content th,
.calif-main-content td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.column-calif-carrera {
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	bottom: 0;
}

.column-calif-carrera .list {
	width: 200px;
}

.column-calif-carrera td {
	max-width: 200px;
}

.column-calif-clases {
	position: absolute;
	left: 200px;
	height: 100%;
	border-right: 1px solid #9B9B9B;
	border-left: 1px solid #9B9B9B;
}

.column-calif-clases .list {
	width: 200px;
}

.column-calif-clases td {
	max-width: 200px;
}

.column-calif-grades {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left:402px;
	text-align: left;
	height: 100%;
}

.column-calif-grades .list {
	width: inherit !important;
}

@media (max-width: 1080px) {
	
	.column-calif-carrera .list,
	.column-calif-carrera td,
	.column-calif-clases .list,
	.column-calif-clases td
	 {
		width: 175px;
		max-width: 175px;
	}

	.column-calif-clases {
		left:175px;	
	}

	.column-calif-grades {
		left:352px;	
	}

	.calif-main-content th {
		font-size: .9em;
		padding-left: 10px;	
	}

	.calif-main-content .list-item td { 
		font-size: .8em;
		height: 1.2em;
		padding: 4px 5px 4px 10px;
	}

}

@media (max-width: 960px) {

	.inner-main-header svg {
		height: 24px;
		width: 25px;
		top: 23px;
		left: 10px;
	}

	.inner-main-header h2 {
		margin-left: 40px;
		height: 1rem;
		font-size: 1rem;
	}
	
	.column-calif-carrera .list,
	.column-calif-carrera td,
	.column-calif-clases .list,
	.column-calif-clases td
	 {
		width: 125px;
		max-width: 125px;
	}

	.column-calif-clases {
		left:125px;	
	}

	.column-calif-grades {
		left:252px;	
	}

	.header-button-right {
		margin-right: 10px;
	}

	.add-grades-btn {
		font-size: .8em;
		padding: 0 10px;
		height: 25px;
		line-height: 25px;
		margin-top: 15px;
	}

	.calif-subnav {
		height: 30px;
		left: 28%;
		min-left: 190px;
		line-height: 30px;
	}

	.calif-subnav sup {
		margin-right: 3px;
		font-size: .4em;
	}

	.calif-subnav a {
		font-size: 1em;
		padding: 0 15px;
	}

	.primary-view {
		left: 175px;
	}

	.sidebar {
		width: 175px;
	}

	.brand {
		font-size: .7em;
		line-height: 1.2;
		margin-top: -13px;
		height: 50px;
		padding-left: 44px;
		left: 1px;
		width: 175px;
	}

	.sidebar-header::before {
		left: 0px;
	}

	.nav-item a {
		font-size: .9em;
	}

	.main-website {
		font-size: .7em;
	}

}

@media (max-width: 860px) {
	
	
}

